<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Hola, Bienvenido: Mi programador me está enseñando a comunicarme contigo, disculpa, ahora no te puedo atender.</a>
</nav>
<div class="container-fluid">
  <section class="row justify-content-md-center">
    <div class="col-12">
      <img src="/images/logoZenoMantenice.png" alt="" class="logoMantenice align-self-center">
    </div>
  </section>
  <hr>
  <section class="row justify-content-md-center">
    <div class="col-md-6 text-center">
      <h2>Zeno Chat Bot Esta Aprendiendo - Pronto Estaremos Online</h2>
      <h4>Agradesco tu Comprensión.</h4>
      <p>Contacto: <a href="mailto://sinavarrov@gmail.com">sinavarrov@gmail.com</a></p>
    </div>
  </section>
</div>